* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body,
html {
  font-family: Montserrt, sans-serif;
  min-width: 650px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /*background: repeating-linear-gradient(45deg, 
    #fff700,
    #fff700 10px,
    #000000 10px,
    #000000 20px
  );*/
  background-color: #151515;
}

.header {
  z-index: 100;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 50px 15px 50px;
  gap: 10px;
  flex-wrap: wrap;
  min-width: 100%;
  top: 0;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  display: flex;
  left: 0;
  right: 0;
}

.currentpage {
  background-color: #669bbc;
  border-radius: 2px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 50%;
  padding: 4px;
  border-radius: 2px;
}

nav {
  gap: 14px;
  display: flex;
  text-align: center;
  align-items: center;
  max-height: 29px;
  flex-wrap: wrap;
}

nav a:hover {
  border-radius: 2px;
  background-color: #669bbc;
  border-radius: 2px;
  transform: scale(1.1);
}

.fcc-standard {
  margin: 0;
  
  padding: 50px 50px 120px 50px;
  min-width: 100%;
  min-height: calc(100vh - 60px);
 align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.fcc-index {
  display: flex;
  text-align: left;
  flex-direction: row;
  gap: 10px;
}

.fcc-informasi {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fcc-proyek {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
}

.footer {
  margin: 0;
  padding: 10px;
  justify-content: space-between;
  align-content: end;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  min-width: 100%;
  display: inline-flex;
  bottom: 0;
  margin-top: 10px;
  left: 0;
  right: 0;
  text-wrap: wrap;
}

.card {
  border-radius: 3px;
  justify-content: center;
  text-align: left;
  max-width: 500px;
  min-width: 500px;
  max-height: 225px;
  min-height: 225px;
  background-color: #303030;
  gap: 0;
  display: flex;
  top: 0;
  bottom: 0;
  margin: 0;
  color: #ffffff;
  overflow-y: hidden;
  overflow-x: hidden;
  border-bottom: solid 5px #669bbc;
}

.card .img-content {
align-content: start;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
}

.card .text-content  {
  align-content: start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.card header {
  padding: 10px;
  width: 100%;
  max-height: 35%;
  font-size: 25px;
  margin-top: 0;
 
}

.card header h4 {
  font-size: 10.5px;
}

.card p {
  display: flex;
  color: #808080;
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 75.63px);
  text-wrap: wrap;
  font-size: 15px;
  padding: 0px 10px 10px 10px;
  font-weight: 600;
  overflow-y: scroll;
}


.card img {
  width: 225px;
  height: 225px;
  border-radius: 2px;
}

.card:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 1px;
}

.nowrap {
  white-space: nowrap;
}

.contact {
  background-color: #669bbc;
  border-radius: 2px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.index-main {
  padding: 50px;
  font-size: 120%;
  color: #ffffff;
  text-wrap: wrap;
}

.index-main p {
  padding: 15px 0 20px 0;
  width: 80%;
}

.stripe {
  width: 100%;
  height: 5px;
  position: bottom;
  background: repeating-linear-gradient(
    45deg,
    #fff700,
    #fff700 10px,
    #000000 10px,
    #000000 20px
  );
}

.textcenter {
  text-align: center;
}

.textleft {
  text-align: left;
}

.textright {
  text-align: right;
}

.contentcenter {
  justify-content: center;
  top: 0;
  position: relative;
  bottom: 0;
  align-content: center;
}
.right {
  float: right;
  justify-content: flex-end;
  display: flex;
}

.left {
  float: left;
  justify-content: flex-start;
  display: flex;
}


.copyright {
justify-self: center;
  align-self: end;
}
.bold {
  font-weight: bold;
}

.nobold {
  font-weight: normal;
}

.border {
  border: solid 1px #ffffff;
}

.notextdeco {
  text-decoration: none;
}

.anderezya {
  min-width: 150px;
  max-width: 150px;
  min-height: 30px;
  max-height: 30px;
}

li {
  list-style-type: none;
}


