<!DOCTYPE html>
<html lang="id-ID">
  <head>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <link href="/external/styles.css" rel="stylesheet" />
    <meta name="description" content="{{ description }}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anderezya | {{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
/>
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">
    <link
      rel="icon"
      href="/external/asset/Anderezya_November.svg"
    />
    <style>
      .material-symbols-rounded {
        font-size: 2em;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }    
    </style>
  </head>
  <body>
    <div data-pagefind-ignore class="sidebar--wrapper" style="grid-area: sb;">
      <div class="sidebar">
        <div class="logo--sidebar">
<img src="/external/asset/Anderezya_Foxtrot.svg" alt="Anderezya Wordmark" class="wordmark">
        </div>
      <div class="home sidebar__content">
        <div class="primary-container">
        <div class="container__header">
        <h3> Hiya! </h3>
        </div>
        <div class="container__p">
        <p> Selamat datang!</p>
        </div>
        </div>
        <div class="separator"></div>
        <div class="primary-container">
        <div class="container__header">
        <h3> Kontak </h3>
        </div>
        <div class="container__p">
        <ul>
          <li>Email: <a class="click" href="mailto:alexander.dividers762@passinbox.com">alexander.dividers762@passinbox.com</a></li>
        </ul>
        </div>
        </div>
        <div class="separator"></div>
        <div class="primary-container">
        <div class="container__header">
        <h3> Artikel Unggulan </h3>
        </div>
        <div class="container__p">
        <ul>
          <li><a class="click" href="/content/artikel/anderezya/">Anderezya</a></li>
        </ul>
        </div>
        </div>
        </div>
      </div>
    </div>
    <main style="grid-area: main">
      <header style="grid-area: hd" class="hd header">
      <div class="header shadow header__bar">
         <div class="logo--header-bar">
<img src="/external/asset/Anderezya_Foxtrot.svg" alt="Anderezya Wordmark" class="wordmark">
        </div>
        <div class="header__nav-bar--mobile">
        <details>
          <summary style="list-style-type: none;"><span class=" hamburger material-symbols-rounded"></span></summary>
          <nav class="nav-wrapper">
            <div class=" shadow secondary-container secondary-header__bar">
          <a class="tertiary-container container--style" href="/">Beranda</a>
          <a class="tertiary-container container--style" href="/konten">Konten</a>
          <a class="tertiary-container container--style" href="/content/postingan/ts">Tentang Saya</a>
            </div>
          </nav>
          </details>
        </div>
         <div class="search-wrapper">
          <div id="search" class="search"></div>
        </div>
        <div class="right">   
        <div class="header__nav-bar--desktop">
          <div class="footer__top__fence"> </div>
          <nav>
          <a class="tertiary-container" href="/">Beranda</a>
          <a class="tertiary-container" href="/konten">Konten</a>
          <a class="tertiary-container" href="/content/postingan/ts">Tentang Saya</a>
          </nav>
          </div>
      </div>
        </div>
    </header>
    <div class="secondary-container">
<div class="primary-container">
<h1 style="border-bottom: unset;" class="container__header">
{{ page.filePathStem }}
</h1>
</div>
</div>
    {{ content | safe }}
      <footer style="grid-area: ft" class=" footer--desktop footer">
        <div style=" justify-content: center" class="footer__content">
        <div class="wordmark__container">
        <img src="/external/asset/Anderezya_Foxtrot.svg" alt="Anderezya Wordmark" class="wordmark">
        <div> © 2025 Alexander (Anderezya) </div>
        <div>Indonesia, California.</div>
        </div>
        <div class="footer__top__fence"></div>
        <div class="secondary-container--footer  secondary-container">
          <span>Dibuat menggunakan Node.js v14 &amp <a class="click" href="https://www.11ty.dev/">Eleventy</a> v2.0.0. </span> 
      <span style="min-width: unset; text-wrap: wrap;"><a class="click" href="mailto:alexander.dividers762@passinbox.com">alexander.dividers762@passinbox.com</a></span>
          <span><i>"{{ quote }}"</i> </span>
        </div>
      </div>
    </footer>
    </main>    
    <footer style="grid-area: ft" class=" footer--mobile footer">
      <div class="footer__top">
        <div style="flex-direction: column;" class="footer__content">
          <div style="padding-top: var(--ui-padding);" class="wordmark__container">
          <img alt="Anderezya Wordmark" src="/external/asset/Anderezya_Foxtrot.svg" class="wordmark">
          <div style="text-align: center; bottom: 0; color: var(--ui-fc)">© 2025 Alexander (Anderezya)</div>
            </div>
          <div class="secondary-container">
            <div class="secondary-container container--style">
            <div class="tertiary-container" style="min-width: unset; text-wrap: wrap;"><a class="click" href="mailto:alexander.dividers762@passinbox.com">alexander.dividers762@passinbox.com</a></div>
              </div>
          </div>
            Dibuat menggunakan <span>Node.js &amp <a class="click" href="https://www.11ty.dev/">Eleventy</a> v2.0.0.</span>
            <br>
            Indonesia, California.
            <br> 
            1989 ◢ ◤ 2018
            <br>
            <i style="padding-bottom: var(--ui-padding);">"{{ quote }}"</i>
          </div>
        </div>
    </footer>
   <!-- <script src="external/script.js"></script> -->
  <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
  </body>
</html>
