---
layout: layouts/index.njk
title: Portfolio
quote: Instinct and muscle memory are just deep forms of training. Like I said, a basic level of competence. 

---
<div class="secondary-container">
<div class="primary-container">
<h1 style="border-bottom: unset;" class="container__header">
build/portfolio/index.html from ./src/portfolio.njk
</h1>
</div>
</div>
<ul style="grid-area: ct" class="content portfolio section-informasi__ul">
  
  <li  class="grid-item" style="grid-area: p1">
  <div style="flex: 1; height: 100%; border: unset; background: unset;" class="primary-container container--horizontal">
    <section class="container__image-section-apollo">
            <img
              alt="Alexander Logo"
              src="/external/asset/Anderezya_November.svg"
            />
          </section>
    </div>
  </li>
      <li
        class="grid-item primary-container1"
        style="grid-area: p2"
      >
        <article class="primary-container">
            <header class="container__header">
              <h2>biografi</h2>
              <h3 title="Nama Pengguna Serta Brand">alexander</h3>
            </header>
          <section class="secondary-container">
            <p class="container__p flex">
              Mempelajari pengembangan web sebagai sampingan.
              <div class="postingan__date"><span class="material-symbols-rounded">location_on</span>Indonesia, California.</div>
            </p>
          </section>
        </article>
      </li>
      <li class="grid-item" style="grid-area: p3">
        <article class="primary-container">
          <header class="container__header">
            <h2>keterampilan</h2>
            <h3>nonteknis</h3>
          </header>
          <section class="secondary-container">
          <p class="container__p">Bahasa</p>
          <div class="secondary-container column skill-container column flex">
            <div class="tertiary-container--styled">
              <header class="container__header">
                <h3>INDONESIA</h3>
              </header>
              <p class="container__p">Bahasa Ibu</p>
            </div>
            <div class="tertiary-container--styled">
              <header class="container__header">
                <h3>INGGRIS</h3>
              </header>
              <p class="container__p">Sí, hablo inglés</p>
            </div>
          </div>
          </section>
        </article>
      </li>
      <li class="grid-item" style="grid-area: p4">
        <article class="primary-container-dynamic primary-container">
          <header class="container__header">
            <h3>keterampilan</h3>
            <h2>teknis</h2>
          </header>
          <section class="secondary-container--nogap secondary-container skill-container flex">
            <div class="secondary-container column container--style">
              <p class="container__p">Keterampilan Pengembangan, Bahasa &amp Teknologi</p>
            <div class="secondary-container shadow container--style">
              <div class="mula tertiary-container">
                <span class="material-symbols-rounded"> web_asset </span>
                <h3>Frontend</h3>
              </div>
              <div class="mula tertiary-container">
                <span class="material-symbols-rounded"> settings </span>
                <h3>Backend</h3>
              </div>
            </div>
            <div class="secondary-container shadow container--style">
              <div class="madya tertiary-container">
                <h3>HTML</h3>
              </div>
              <div class="madya tertiary-container">
                <h3>CSS</h3>
              </div>
              <div class="mula tertiary-container">
                <h3>Javascript</h3>
              </div>
            </div>
            <div class="secondary-container shadow container--style">
              <div class="mula tertiary-container">
                <h3>Node.js</h3>
              </div>
            </div>
            </div>
            <div class="secondary-container column container--style">
              <p class="container__p">Keterampilan Multimedia &amp Platform atau Alat</p>
            <div class="secondary-container shadow container--style">
              <div class="mula tertiary-container">
                <span class="material-symbols-rounded"> design_services </span>
                <h3>Desain Grafis</h3>
              </div>
              <div class="madya tertiary-container">
                <span class="material-symbols-rounded"> movie </span>
                <h3>Videografi</h3>
              </div>
              <div class="mula tertiary-container">
              <span class="material-symbols-rounded"> deployed_code </span>
              <h3>3D Modelling</h3>
              </div>
            </div>
          <div class="secondary-container shadow container--style">
              <div class="madya tertiary-container">
                <h3>Inkscape</h3>
              </div>
              <div class="madya tertiary-container">
                <h3>Canva</h3>
              </div>
              <div class="madya tertiary-container">
                <h3>
                  Figma
                </h3>
              </div>
              <div class="mula tertiary-container">
                <h3>Blender</h3>
              </div>
              <div class="mula tertiary-container">
                <h3>Davinci Resolve</h3>
              </div>
            </div>
            </div>
            <div style="min-width: 100%; padding: var(--ui-padding)">
             <div style="border: var(--ui-border);" class="secondary-container container--style">
                <div class="mula--main tertiary-container">
                <span class="material-symbols-rounded"> stat_1 </span>
                  <h3>Mula</h3>
               </div>
                <div class="madya--main tertiary-container">
                <span class="material-symbols-rounded"> stat_2 </span>
                <h3>Madya</h3>
              </div>
              <div class="wira--main tertiary-container">
                <span class="material-symbols-rounded"> stat_3 </span>
                <h3>Wira</h3>
              </div>
               </div>
            </div>
          </section>
        </article>
      </li>
      <!--<li class="grid-item" style="grid-area: p5">
        <article class="primary-container">
          <header class="container__header">
            <h3>PROYEK</h3>
            <h2>TEKNIS</h2>
          </header>
          <section class="secondary-container reset flex">
            <p class="container__p">Dalam Pengerjaan</p>
            <ul style="padding: unset" class="secondary-container reset flex">
              <li id="PU_ANDEREZYA" class="grid-item tertiary-container tertiary-container--gamma">
                <section class="tertiary-container--beta">
                  <header class="container__header">
                    <h1>PROYEK UTAMA</h1>
                    <h2>ANDEREZYA</h2>
                  </header>
                  <p class="container__p flex">Generated Static Site menggunakan Node.js v14.19.1 &amp <a class="click" href="https://www.11ty.dev/">Eleventy</a> v2.0.0</p>
                  <div class="noflex secondary-container">
                    <a href="https://github.com/anderezya/anderezya" target="_blank">
                      <div class="tertiary-container">
                        <h4>Github</h4>
                        <span class="material-symbols-rounded">open_in_new</span>
                      </div>
                    </a>
                    <a href="https://glitch.com/~anderezya" target="_blank">
                      <div class="tertiary-container">
                        <h4>Halaman Proyek Glitch</h4>
                        <span class="material-symbols-rounded">open_in_new</span>
                      </div>
                    </a>
                  </div>
                </section>
              </li>
              <li class="grid-item tertiary-container tertiary-container--delta">
                <section style="flex: unset;">
                 <h2 style="text-align: center;"> Sesuatu yang baru akan hadir.</h2>
                </section>
              </li>
            </ul>
          </section>
        </article>
      </li>-->
    </ul>

